@{
    ViewBag.Title = "About";
}
<h2>What is the point of this app?</h2>

<img src="https://www.quia.com/files/quia/users/marianamilheiro/PARTLY_CLOUDY" />

<h3>This app will allow you to get stuff you can do on your phone in about 5 seconds.</h3>
<br />
<br />
@Html.Partial("WeatherWidget")