@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>Hit me up!</h3>

<address>
    RIP GG<br />
    Codesville, WA 12345<br />
    <br />
    <br />
    <p> Or call me at:</p>
    <abbr title="Phone">P:</abbr>
    666-888-1337
</address>
<br />
<br />
@Html.Partial("WeatherWidget")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}