@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Who Wants Some Weather?</h1>
    <img src="http://www.guttercleaningnc.com/wp-content/uploads/2013/01/inclement_weather-450.png" />
    <a href="weathers/getweather">Click Here To Get Some Weather!</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is Weather?</h2>
        <p>
            When you go outside, the shit you feel around you that sometimes pisses you off.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What can I do to stop Weather?</h2>
        <p>Nothing.</p>
    </div>
    @Html.Partial("WeatherWidget")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}