@model WeatherWidgetProject.ViewModels.RootObject

@using (Html.BeginForm("ViewWeather", "Weathers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Zipcode, "Enter Your Zip/Postal Code")
        @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })
        <small>@Html.ValidationMessageFor(m => m.Zipcode)</small>
        <br />
        <button type="submit" class="btn btn-primary">Get Weather</button>
    </div>
}